@using Shrooms.Models;
@model Shrooms.Models.Mushroom;
<h2>@Model.Name Details</h2>
<p>Family: @Model.Family</p>
<p>Pyschoactive: @Model.Psycho</p>
<p>Poisonous: @Model.Poisonous</p>
<p>Region: @Model.Region</p>
<P>Spore Details: @Model.SporePrintDetails</P>
<P>Visual Details: @Model.VisualDetails</P>
<p>Average Cap Dimensions (cm): @Model.CapDimensions</p>
<p>Average Stem Length (cm): @Model.StemDimensions</p>

